.products{
    height: 100%;
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: darkgrey;
}
.block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.blockText{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.textarea{
    display: block;
}
.button{
    display: block;
}
