.chats{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: darkgrey;
    padding: 0px;
}
.title{
    margin: 50px;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px;
    padding: 30px;
    margin: auto;
}
.textareaButton{
display: flex;
flex: auto;
justify-content: center;
}
.textarea{
    display: block;
}
.button{
    display: block;
}

