.list{
    grid-gap: 20px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    color: #f3fffa;
}
.ActiveLink{
    color: rgb(33, 14, 14);
    cursor: default;
}
.item{
    text-decoration: none;
    color: white;
}